---
import Social from './Social.astro';
---
<style>
  footer {
    display: block;
    gap: 1 rem;
    margin-left: 0%;
    margin-top: 2 rem;

  }
</style>


<footer>
  <p>Contact Me Via</p>
  <Social platform="Github" username="Neon-Face"/>
  <Social platform="Twitter" username="0x_Neon_Face"/>
</footer>